.boxes {
  display: flex;
  gap: 1rem;
  margin: 1rem 0rem;
}
.box,
.other-box {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px dashed;
}

.other-box {
  background-color: lightgray;
  border-color: darkgray;
}

.other-box.active {
  background-color: lightsalmon;
  border-color: red;
}
